@tailwind base;
@tailwind components;
@tailwind utilities;

/* anchor links in markdown headings */
.anchor svg {
    display: inline;
}

/* comment actions */
.link svg {
    display: inline;
}

/* article nav */
.tab svg {
    margin-right: 6px;
}