@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes:
    emerald --default,
    dim;
}

[data-theme="emerald"] {
  nav,
  .menu {
    background-color: oklch(93.2% 0.032 255.585);
  }
  --radius-field: 0.2rem;
}

[data-theme="dim"] {
  nav,
  .menu {
    background-color: oklch(39.1% 0.09 240.876);
  }
  --radius-field: 0.2rem;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=dim] *));

/* anchor links in markdown headings */
.anchor svg {
  display: inline;
}

/* comment actions */
.link svg {
  display: inline;
}

/* article nav */
.tab svg {
  margin-right: 6px;
}

/* disable quotes added to blockquote */
.prose blockquote {
  quotes: none;
  font-style: normal;
  font-weight: 400;
}
